.footer {
    // background-color: #f8f8f8;
    padding: 7%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.topSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2rem;
    // gap: 30dvw;
}

.socialIcons {
    display: flex;
    gap: 15px;
    font-size: 1.5rem;
    color: blue;
}

.slogan {
    color: blue;
    font-size: 1.2rem;
    max-width: 400px;
    text-align: left;
}

.navigation {
    text-align: right;

    span {
        display: block;
        font-size: 0.9rem;
        color: grey;
        margin-bottom: 0.5rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        color: blue;
        font-size: 1rem;
        margin-bottom: 5px;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.bottomSection {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.branding {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: blue;
}

.contactButton {
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    transform: rotate(-10deg);
    transition: transform 0.3s ease;

    &:hover {
        transform: rotate(0deg);
    }
}