.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    gap: 3rem;
}

.text {
    font-size: 1.5rem;
    color: blue;
    margin-bottom: 2rem;
}